.jumbotron {
    background-image: url("../images/jumbotron_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-large-resp {
    font-size: 4vw;
}

.font-small-resp {
    font-size: 2vw;
}